{% extends "layouts/layout.html" %}

{% block content %}

{% include 'users/partials/modal-user.html' %}

<div class="container">
    <div class="jumbotron">
        <form action="{% url 'userregister' %}" method="post">
          {% csrf_token %}

          {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
          {% endfor %}
          {% for field in form_cad.visible_fields %}
          <div class="form-group">
              
              {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}

              <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
              {{ field }}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
          </div>
          {% endfor %}
          <small id="emailHelp" class="form-text text-muted">A senha deve conter pelo menos 6 caracteres, incluindo números e letras</small>
'

          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>

{% endblock %}
